<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="TestDatabaseConnectionString" value="Data Source=(local);Initial Catalog=BMI_BAT_MAN.tests;Integrated Security=True;" />
    <Parameter name="IncludePath" value="test" />
  </TestRunParameters>
</RunSettings>